<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/header.ejs') %>
</head>

<body class="bg-gray-900">
  <section class="text-white body-font">
    <div class="container mx-auto px-4 py-8">
      <div class="lg:w-3/4 mx-auto">
        <div class="my-4 text-center">
          <h1 class="text-4xl font-bold">Yazılım nedir</h1>
        </div>
        <div class="flex flex-col sm:flex-row justify-center items-center">
          <div class="sm:w-3/4 sm:mx-auto sm:px-8 sm:py-8 border-t-4 border-b-4 rounded border-red-600">
            <p class="text-lg leading-relaxed text-center  mb-8">
              
İlk kez, "yazılım" sözcüğünü ve bu sözcüğün neden popüler olduğunu tanıyalım. "Yazılım" birer sözlük tanımı olarak "bilgisayarların işlemesini kontrol eden programlar"ın genel tanımını taşır. Bu tanımla beraber, "yazılım" terimi kısaca birer yazılımcılar tarafından geliştirilen ve çalıştırılan tüm bilgisayar programlarını içerir.

Başka bir yandan, yazılım kısaltmasıyla yazılımcılar tarafından yazılan kodlar ve programlar, ayrıca yazılım geliştirme yöntemleri ve ilkeleri, yazılım projeleri yönetimi, yazılım ürünleri satışı ve yazılım hizmetleri veren firma veya kuruluşlar da dahil olmak üzere, bilgisayar programcılığı ile ilgili bütün süreçler ve konuları ifade eder.

Örneğin, bilgisayar programcılarının geliştirdiği ve yayımladığı uygulamalar, yazılımlar (operating systems, databases, development tools vb.) ve donanım üreticilerinin (CPU, RAM, GPU vb.) kullandığı ve programlama aracıları ile uyumlu yazılımları (firmware, device drivers vb.) kapsar.

Bu şekilde, yazılım kelimesi bir çok çeşit yazılımcılar tarafından geliştirilen ve çalıştırılan yazılımcılık ile ilgili programın genel tanımını taşır.
              <br><br>
              Örneğin, yazılım; bir web tarayıcısı (Chrome, Firefox, Safari gibi), bir veritabanı yönetim sistemi (MySQL, PostgreSQL, SQL Server gibi), bir işletim sistemi (Windows, macOS, Linux gibi), bir programlama dilinin yorumlayıcısı (Python, JavaScript, Java gibi) ya da bir tümleşik geliştirme ortamı (IDE) (Visual Studio, Eclipse, Xcode gibi) olabilir.

              <br><br>
              <strong>Bizi tercih ettiğiniz için teşekkür ederiz.</strong>
              <br>
              Oğuzhan Ünaldı
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
