<!DOCTYPE html>
<html lang="en">
<head>
        <%-include('include/header.ejs')%>
</head> 
<body class="bg-gray-900">
      <header class="bg-gray-900">
        <div class="container mx-auto px-4 py-16">
          <div class="text-center">
            <h1 class="text-4xl font-semibold text-white">Yazılım</h1>
            <p class="mt-4 text-lg text-gray-300">yazılım blogu</p>
            <div class="mt-8">
              <a href="/hakkimizda" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-3.5 text-center mr-2 mb-3">yazılım nedir</a>
              <a href="/komutlar" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-3.5 text-center mr-2 mb-3">Yazılım dilleri</a>
            </div>
          </div>
        </div>
      </header>

<section class="bg-gray-900 py-20">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center">
            <div class="w-full md:w-1/3 p-4">
              <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                <p class="text-2xl font-semibold mb-2 text-white text-center">Yusuf Mert Erden</p>
                <p class="text-gray-700 text-white text-center">Yardımcı</p>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-4">
                <div class="bg-gray-800 rounded-lg shadow-lg p-6 duration-500 hover:scale-110">
                  <p class="text-2xl font-semibold mb-2 text-white text-center">Oğuzhan Ünaldı</p>
                  <p class="text-gray-700 text-white text-center"> Developer & yazılımcı</p>
                </div>
              </div>
          </div>
        </div>
      </section>
      
                
</body>
</html>
