
<!DOCTYPE html>
<html lang="en">
<head>
        <%-include('include/header.ejs')%>
</head> 
<body class="bg-gray-900">
    <section class="text-white body-font">
        <div class="container mx-auto px-4 py-8">
          <div class="lg:w-3/4 mx-auto">
            <div class="my-4 text-center">
              <h1 class="text-4xl font-bold">Yazılım Dilleri</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
              <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                <h2 class="text-2xl font-bold mb-4">javascript</h2>
                <p class="text-lg mb-4">java script</script></p>
                <code class="text-sm bg-gray-700 rounded p-2">javascript</code>
              </div>
              <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                <h2 class="text-2xl font-bold mb-4">html</html></h2>
                <p class="text-lg mb-4">Site kodlamada kulanılır</p>
                <code class="text-sm bg-gray-700 rounded p-2">html</code>
              </div>
              <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                <h2 class="text-2xl font-bold mb-4">CSS</h2>
                <p class="text-lg mb-4">yapdığın siteyi güzel hale getirmek için kulanılır</p>
                <code class="text-sm bg-gray-700 rounded p-2">css</code>
              </div>

            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4 ">lua</h2>
                  <p class="text-lg mb-4">Oyun serveri kodlamada kulanılır</p>
                  <code class="text-sm bg-gray-700 rounded p-2">lua</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">java</h2>
                  <p class="text-lg mb-4">oyun kodlamada kulanılır</p>
                  <code class="text-sm bg-gray-700 rounded p-2">java</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">Python</h2>
                  <p class="text-lg mb-4">program yapmak için kulanılır</p>
                  <code class="text-sm bg-gray-700 rounded p-2">Python</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">Ruby</h2>
                  <p class="text-lg mb-4">Ruby</p>
                  <code class="text-sm bg-gray-700 rounded p-2">Ruby</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">C#</h2>
                  <p class="text-lg mb-4">Oyun motorlarında kulanılır</p>
                  <code class="text-sm bg-gray-700 rounded p-2">C#</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">C++</h2>
                  <p class="text-lg mb-4">hızlı performans</p>
                  <code class="text-sm bg-gray-700 rounded p-2">C++</code>
                </div>
                <div class="bg-gray-800 rounded-lg p-6 duration-500 hover:scale-110">
                  <h2 class="text-2xl font-bold mb-4">php</h2>
                  <p class="text-lg mb-4">oyun sunucuları için kulanılır</p>
                  <code class="text-sm bg-gray-700 rounded p-2">php</code>
                </div>
              </div>
          </div>
        </div>
      </section>
      
                
</body>
</html>




